In [22]:
IF EXISTS (SELECT * FROM sys.schemas WHERE name = 'bidrl')
    EXEC('DROP SCHEMA bidrl')

: Msg 3729, Level 16, State 1, Line 1
Cannot drop schema 'bidrl' because it is being referenced by object 'Items'.

In [23]:
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'bidrl')
    EXEC('CREATE SCHEMA bidrl')

In [30]:
DROP TABLE IF EXISTS bidrl.items;

-- Create 'items' table if it does not exist
CREATE TABLE bidrl.items (
    item_id INT PRIMARY KEY,
    description NVARCHAR(255),
    auction_id INT,
    end_time_unix BIGINT,
    url NVARCHAR(255)
);

In [12]:
-- Set the default schema
USE BFDB;



-- Create 'auctions' table if it does not exist
CREATE TABLE IF NOT EXISTS auctions (
    auction_id INT PRIMARY KEY,
    title VARCHAR(255),
    start_time_unix BIGINT,
    end_time_unix BIGINT,
    status VARCHAR(50)
);

-- Create 'invoices' table if it does not exist
CREATE TABLE IF NOT EXISTS invoices (
    invoice_id INT PRIMARY KEY,
    user_id INT,
    auction_id INT,
    total_amount DECIMAL(10, 2),
    issued_date DATE,
    due_date DATE,
    status VARCHAR(50)
);

-- Create 'users' table if it does not exist
CREATE TABLE IF NOT EXISTS users (
    user_id INT PRIMARY KEY,
    username VARCHAR(255),
    password_hash VARCHAR(255),
    email VARCHAR(255),
    created_at TIMESTAMP
);

-- Create 'bid_history' table if it does not exist
CREATE TABLE IF NOT EXISTS bid_history (
    bid_id INT PRIMARY KEY,
    user_id INT,
    item_id INT,
    bid_amount DECIMAL(10, 2),
    bid_time TIMESTAMP
);

: Msg 156, Level 15, State 1, Line 1
Incorrect syntax near the keyword 'CASCADE'.

: Msg 111, Level 15, State 1, Line 4
'CREATE SCHEMA' must be the first statement in a query batch.

: Msg 102, Level 15, State 1, Line 4
Incorrect syntax near 'bidrl'.

: Msg 911, Level 16, State 1, Line 7
Database 'bidrl' does not exist. Make sure that the name is entered correctly.

In [21]:
DROP TABLE bidrl.Items